#calculator {
    text-align: center;
    background: blueviolet;
    width: 100%;
   }
  
   table {
     width: 50%;
     border: 25px;
   }
  
   td {
     column-span: 25px;
     text-align: center;
   }
  
   input[type=text] {
     text-align: right;
   }
