body {
    background-position: center;
}

.heading {
    background-position: center;
}

.container {
    background-position: center;
}

h1 {
    text-align: center;
}

table {
    position: center;
    border-color: red;
    width: 100%;
}

td {
    width: 25%;
}

button {
    width: 100%;
    height: 70px;
}